{% extends 'base.html'%}
{%load bootstrap4%}
{% block content %}
{{block.super}} 

<div class="container">
    {% if image.profile == username %}
      <img class="rounded-circle account-img" src="{{user.profile.profile_image.url }}" height="100px" width="100px" alt="">
    {% endif %}

    {% for posts in post %}
  <div class="row">
    <div class="col-md-8">
      <div class="card " style="width:400px">
        <img class="card-img-top" src="{{posts.image.url}}" alt="Card image">
        <div class="card-body">
          <div class=" row">
            <div class="col-md-4">
                <div class="iconic ml-2">
                    <a class='info' href="{% url 'likePost' posts.id %}">
                      <i style="font-size: 20px; margin-left: 15px;margin-top: 15px;"> <img src="/static/insta2.png" height="20px" width="20px"></i>
                    </a><span style="font-size:25px;">{{posts.likes.count}}</span>
                  </div>
            </div>
            <div class="col-md-8">
                <button type="button" class="btn btn-success"> <img src="/static/insta3.jpeg" width="30px" height="30px" alt=""> Follow</button>        </div>
            </div>
          </div>
      </div> <br>
      <div class="row">
          <div class="col-md-7">
              <form  action="{%url 'index'%}" method="post">
                  {%csrf_token%}
              
                  {% bootstrap_form commentform layout='inline' %}
                  <input type="submit" value="Comment">
                </form>
          </div>
          <div class="col-md-5"></div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card " id="sticky" style="width:400px">
          <div class="card-body">
            <h4 class="card-title">{{posts.image_name}}</h4>
            <p class="card-text">{{posts.comments}}</p>
            {% for comment in comments %}
              <p class="card-text">{{ comment.comment }}</p>
            {% endfor %}
            <p class="card-text">{{posts.image_caption}}</p>
            <a href="{% url 'profile' %}" class="btn btn-success">change Profile</a>
          </div>
       </div>
    </div>

  
  </div>

      {% empty %}
      <div class="row">
        <h2 class="text-center">Welcome to instagram</h2>
      </div>
      {% endfor %} 
   
      {%for image in images%}     
      
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2 class="text-center"> {{ image.image_name }} </h2>
        </div>
    
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src="{{image.image.url}}" class="img-responsive" alt="Image">
        </div>
    
      </div>
      {% endfor %}

</div>


{%endblock%}
