{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}} 
<div class="container" style="color:aliceblue">
        <a class="btn btn-default" href="{%url 'index'%}" style="padding-left:43%"> home </a>
 
    <div class="row" style="padding-top:20%">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="{% url 'uploadProfile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{forms}}
                <input class="btn btn-success" value="Submit" type="submit">
        
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

{% if image.profile == username %}

    <div class="cotenet-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{user.profile.profile_image.url }}" height="200px" width="200px" alt="">
            <div class="media-body">
                <h2 class="account-heading">{{user.username}}</h2>
                <p class="text-secondary">{{user.email }}</p>
            </div>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}